*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.formulario-single{
    margin-top: 0px;
    width: 50%;
    padding: 8px 20px;
}
 
.form {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    width: 100%;
    max-width: 640px;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(197, 230, 248);
}

.form h2{
    margin-top: 0px;
    width: 60%;
    padding: 10px 10px;
    color: grey;
    flex-wrap: wrap;
    justify-content: center;

} 

.form input[type=txt]{
    width: 35%;
    justify-content: space-between;
    height: 35%;
    margin: 8px 0px;
}

.form fieldset{
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 10px;
    flex-wrap: wrap;
    border: 0;
}

.form label{
    justify-content: center;
    display: flex;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
    
    
}

.campo input[type="email"]{
    justify-content: center;
    display: flex;
    
}

.campo label{
    margin-bottom: 0.2em;
    color: black;
    display: block;
}


fieldset.grupo .campo{
    float: left;
    margin-right: 2em;
    
}

fieldset.grupo .checkbox{
    width: 73%;
    margin-right:  27%; 
}

.checkbox input[type="checkbox"]{
    width: 5%;
    float: left;
}

.campo input[type="txt"]{
    width: 81%;
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0.2);
}

.campo input[type="email"], .campo select, .campo textarea{
    width: 85%;
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0.2);
}

.campo select{
    width: 60%;
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0.2);
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: rgb(255, 255, 255);
}

.campo textarea{
    resize: none;
    height: 7em;
}

.botao {
    font-size: 1.1em;
    color: black;
    margin-bottom: 1em;
    background: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0.2);
    position: center;
    text-decoration: none;
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 5px;
}

.botao:hover {
    background: rgb(242, 240, 242);
}

#check {
    display: inline-block;
}

.formulario-single{
    margin-top: 20px;
    width: 100%;
    padding: 8px 30px;
}