*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 
 .center {
    max-width: 1500px;
    padding: 0 2%;
 }
 
 .main {
    padding: 20px 0;
    width: 100%;
    background-color: rgb(46, 145, 251);
    background-position: center;
    background-size: cover;
    min-height: 100px;
 }
 
 .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 
 .menu h2{
    color: rgb(169, 240, 2);
    font-style: italic;
 }
 
 .menu a{
   background-color: white;
    color: rgb(255, 0, 0);
    text-decoration: none;
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 5px;
 }



 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(45, 72, 90);
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: rgb(12, 42, 70);
}